/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
/* @import '../node_modules/font-awesome/css/font-awesome.css'; */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons';

*{
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem !important;
}
/* body{
  overflow: hidden;
} */
